// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
  list-style: circle inside;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5
}
